.tab-content h3 {
	padding-left: 20px;
}

#featured-products_block_center {
	text-align: center;
}
#featured-products_block_center h5 {
	text-align: center;
	font-size: 1.6em;
}
.tab-content .panel {
	text-align: center;
}
.tab-content a.seemore {
	position: relative;
	top: -20px;
}